* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
/* khôi phục cỡ chữ mặc định theo rem */
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* đây là cấu trúc page dự án */

/*============================common=======================*/
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}
.btn {
  display: inline-block;
  min-width: 118px;
  padding: 0 16px;
  color: #fff;
  font-weight: 600;
  font-size: 1.6rem;
  text-align: center;
  background-color: #171100;
  border-radius: 24.5px;
  line-height: 50px;
}
/*============================header======================*/
.header {
  background: #d2bf8a;
}
.header.fixed {
  position: sticky;
  top: -28px;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}
.nav a {
  color: #5f5b53;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav li.active a,
.nav a:hover {
  color: #171100;
  /* font-weight: 600; */
  /* thay vì sử dụng font-weight thì sử dụng text-shadow */
  text-shadow: 1px 0 0 currentColor;
}
.nav li.active a::after {
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  /* top: 73px; */
  bottom: 6px;
  left: 21px;
  border-radius: 1px;
  background: #171100;
  position: absolute;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
